body {
  background-color: #0a0a0a;
  color: #e0e0e0;
  font-family: 'Roboto Mono', 'Consolas', monospace;

  margin: 0;
  height: 100vh;
  overflow: hidden;
}

:focus-visible {
  outline: none;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}